<html ng-app="antetypeApp">
<head>
	<title></title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<script type="text/javascript" src="antetype.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="LayerController">
	<div id="controls">
		<button ng-click="addLayer('Rectangle')">Add Rectangle</button>
		<button ng-click="addLayer('Text')">Add Text</button>
		<button ng-click="addLayer('ListItem')">Add ListItem Widget</button>
	</div>
	
	<div id="layers">

	<ul>
		<li ng-class="{selected: $index==selectedIndex}" ng-click="selectCell($index)" ng-repeat="layer in layers"><input ng-model="layer.name.custom" value=""></li>
	</ul>
		
	</div>


	<aside>
	<img src="inspector.png">
		<ul>
			<li ng-repeat="layer in layers">
				<div ng-class="{selectedFill: $index==selectedIndex}" ng-click="selectCell($index)" ng-show="layer.name.custom == ''" ><span contenteditable ng-model="layer.name.placeholder"></span> - <em>{{layer.type}}</em></div>
				<div ng-class="{selectedFill: $index==selectedIndex}" ng-click="selectCell($index)" ng-show="layer.name.custom != ''" ><span contenteditable ng-model="layer.name.custom"></span> - <em>{{layer.type}}</em></div>
			</li>
		</ul>
	</aside>


</body>
</html>