<html ng-app="antetypeApp">
<head>
	<title></title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<script type="text/javascript" src="keymaster.min.js"></script>
	<script type="text/javascript" src="antetype.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="LayerController">
	<div id="controls">
		<button ng-click="addLayer('Rectangle')">Add Rectangle</button>
		<button ng-click="addLayer('Text')">Add Text</button>
		<button ng-click="addLayer('Button')">Add Button Widget</button>
		<span contenteditable ng-model="widgetName"></span>
	</div>
	
		<aside>
	<img src="inspector.png">
		<ul>
			<li ng-repeat="layer in layers">
				<div class="text-icon" ng-class="{selectedFill: $index==selectedIndex}" ng-click="selectCell($index)" ng-show="layer.name.custom == ''" ><span contenteditable ng-model="layer.name.placeholder"></span> - <em>{{layer.type}}</em></div>
				<div ng-class="{selectedFill: $index==selectedIndex}" ng-click="selectCell($index)" ng-show="layer.name.custom != ''" ><span contenteditable ng-model="layer.name.custom"></span> - <em>{{layer.type}}</em></div>
			</li>
		</ul>
	</aside>
	
	<div id="layers">

	<ul>
		<li ng-if="layer.type=='Rectangle'" ng-class="{selected: $index==selectedIndex}" ng-click="selectCell($index)" ng-repeat="layer in layers" class="rectangle-cell" ><input ng-model="layer.name.custom" value=""></li>
		<li ng-if="layer.type=='Text'" ng-class="{selected: $index==selectedIndex}" ng-click="selectCell($index)" ng-repeat="layer in layers" class="text-cell" ><input ng-model="layer.name.custom" value=""></li>
		<li ng-if="layer.type=='Button'" ng-class="{selected: $index==selectedIndex}" ng-click="selectCell($index)" ng-repeat="layer in layers" class="widget-cell"><input ng-model="widgetName" value="Foo"><span>Label</span></li>
	</ul>
		
	</div>





</body>
</html>